body {
  margin: 0;
  padding: 0;
}

*{
  font-family: "Lato","Arial",sans-serif;
}

.container {
  padding-left: 25px;
  padding-right: 25px;

}

@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 47%;
  }
}

.error-message {
  margin-top: 8px;
  color: #b24141;
  display: inline-block;
  font-size: 12px;
}
